:root{
    --text-color: #212121;
    --background-color: #F5F4FA;
    --button-color: #2196F3;
}

body{
    font-family:'Roboto','Verdana', 'Tahoma', sans-serif;
}



.header{
    position: absolute;
    background-color: #ECECEC;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;

    display: flex;
    list-style-type: none;
    margin: px;
    border-radius: 4px;
}


.footer{
    background-color: #2F303A;
    color: #FFFFFF;
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    
}

.section_button{
    display: block;
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #2F303A;
}



.logo{
    text-decoration: none;
    font-size: 24px;
    margin: 10px;
    padding: 17px;
    color: #000000;
}
.footer_block .logo{
    color: #FFFFFF;
}


.pictures-staff{

position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1449px;
background-color:var(--background-color);

}

.section_portfolio{
    display: flex;
    list-style-type: none;
}

.link{
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);

}

.footer .link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 2.4;
}

.footer p{
    font-size: 14px;
    line-height: 2;
}

.link:hover {
    color: var(--button-color);
}

.button_main{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;        
    top: 430px;
    color: #FFFFFF;
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-radius: 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

       
}
.button_portfolio {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background-color: var(--background-color);
    position: center; 
    border-color: var(--background-color);
    border-radius: 8%;
    

}
.button_portfolio:hover{
    color: #FFFFFF;
    background-color: var(--button-color);
    border-color: var(--button-color);
}

.headline_h1 {
    color:#FFFFFF;
    text-align:center;
    line-height: 2;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.headline_h2 {
    text-align: center;
}

.list_header{
    display: flex;
    list-style-type: none;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
}

.list_header_contact{
    display: flex-end;
    list-style-type: none;
    padding: 20px;
    border-radius: 4px;
    }

.list_header li{
    margin-right: 10px;
    margin-top: 10px;
}

.list_main{
    display: flex;
    list-style-type: none;
    padding: 20px;
    border-radius: 4px;
    justify-content:center;
}

.list_main li{
    margin-left: 0%;
    margin-right: 30px;
}

.picture{
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.list_block{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;

}

.inf_picture{
    background-color: #FFFFFF;
    padding-top: 1%;
    text-align: center;
}

.blue{
    color:var(--button-color);
}
