body{
    font-family:'Roboto','Verdana', 'Tahoma', sans-serif;
}

:root{
    color: #212121;
}

.header_block{
    background-color: #ECECEC;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    display: flex;
    list-style-type: none;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
}

.footer_block{
    background-color: #2F303A;
    color: #FFFFFF;
}

.section1{
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background-color: #2F303A;
}



.logo{
    text-decoration: none;
    font-size: 24px;
    margin: 10px;
    padding: 17px;
    color: #000000;
}
.footer_block .logo{
    color: #FFFFFF;
}


.pictures-human{
   background-color:#F5F4FA;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;


}

.section4{
    display: flex;
    list-style-type: none;
}

.link{
    text-decoration: none;
    cursor: pointer;
    color: #212121;

}

.footer_block .link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 2.4;
}

.footer_block p{
    font-size: 14px;
    line-height: 2;
}

.link:hover {
    color: #2196F3;
}

.button_main{
     width: 200px;
    height: 50px;
    left: 700px;        
    top: 430px;
    color: #FFFFFF;
    background-color: #2196F3;
    border-color: #2196F3;
    border-radius: 8%;
    margin: auto;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

       
}
.button_portfolio {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background-color: #F5F4FA;
    position: center;
    border-color: #F5F4FA;
    border-radius: 8%;
    

}
.button_portfolio:hover{
    color: #FFFFFF;
    background-color: #2196F3;
    border-color: #2196F3;
}

.headline_h1 {
    color:#FFFFFF;
    text-align:center;
    line-height: 2;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.headline_h2 {
    text-align: center;
}

.list_header{
    display: flex;
    list-style-type: none;
    margin: auto;
    padding: 20px;
    border-radius: 4px;


}

.list_header li{
    margin-right: 10px;
    margin-top: 10px;
}

.list_main{
    display: flex;
    list-style-type: none;
    padding: 20px;
    border-radius: 4px;
}

.list_main li{
    margin-left: 0%;
    margin-right: 30px;
}

.picture{
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.list_block{
    display: flex;
    list-style-type: none;
    margin: auto;

}

.inf_picture{
    background-color: #FFFFFF;
    margin-top: auto;
    padding-top: 1%;
    text-align: center;
}

.blue{
    color:#2196F3;
}
